body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}

div.page {
    display: grid;
    height: 100vh;
    background-color: rgba(10, 6, 1, 0.7);
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:    'header header'
                            'meny innhold'
                            'footer footer';
}

div.header {
    grid-area: header;
    margin-bottom: 10px;
    border-radius: 0px 0px 30px 30px;
    text-align: center;
    background-color: rgba(22, 27, 49, 0.8);
    border-bottom-color: rgba(22, 27, 49, 0.4);
}

div.headdel {
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
    align-content: center;
}

div.header::after {
    float: none;
}

div.meny {
    grid-area: meny;
    width: 96%;
    height: 100%;
    margin: auto;
    background-color: rgba(22, 27, 49, 0.4);
    border-radius: 30px 30px 30px 30px;
    text-align: center;
    overflow: scroll;
}

div.meny::-webkit-scrollbar {
    visibility: hidden;
}

.knapp {
    width: 70%;
    height: 40px;
    background-color: darkcyan;
    border-radius: 25px;
    border: 1px solid black;
    margin-top: 20px;
    font-size: 0.7vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    transition: 0.7s;
}

.knapp:hover {
    width: 70%;
    height: 50px;
    font-size: 0.9vw;
    font-weight: bolder;
    background-color: darkkhaki;
    border: 1px inset darkcyan;
}

div.innhold {
    grid-area: innhold;
    width: 96%;
    height: 100%;
    margin-left: 10px;
    margin: auto;
    background-color: rgba(22, 27, 49, 0.6);
    border-radius: 30px 30px 30px 30px;
    text-align: center;
}

#spillh1 {
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#spill1 {
    width: 336px;
    height: 336px;
    display: block;
    background-color: bisque;
    margin: auto;
    margin-top: 6%;
    padding: 1px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.float1, .float2, .float3 {
    float: left;
    width: 108px;
    height: 108px;
    margin: 1px;
    align-content: center;
    text-align: inherit;
    border-radius: 5px;
    border: 1px solid black;
    background-image: radial-gradient(rgb(57, 147, 153), rgb(39, 126, 141));
}

.float1:hover, .float2:hover, .float3:hover {
    background-image: radial-gradient(rgb(78, 123, 126), rgb(101, 189, 204));
}

.float3::after {
    float: none;
}

#spill1::after {
    float: none;
}

#oppgave {
    width: 98%;
    height: 75%;
    padding: 5px;
    margin: auto;
    background-color: rgba(127, 255, 212, 0.24);
    border-radius: 30px;
    text-align: center;
}

div.opp {
    float: left;
    width: 200px;
    height: 200px;
    margin-left: 5px; 
    margin-top: 5px;
    background-color: rgb(44, 153, 117);
    border-radius: 30px;
    overflow:auto;
}

#oppgaver2 {
    width: 98%;
    height: 75%;
    padding: 5px;
    margin: auto;
    border-radius: 30px;
    background-color: rgba(127, 255, 212, 0.24);
    text-align: center;
}

#oppgaver3 {
    display: none;
    width: 50%;
    height: 50%;
    margin: auto;
    align-content: center;
    text-align: center;
}

div.tallgjett {
    width: 90%;
    height: auto;
    background-color: rgba(29, 27, 27, 0.171);
}

div.tallspi {
    float: left;
    width: 100%;
    height:auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: rgb(34, 73, 47);
    text-align: center;
    align-content: center;
}

div.tallspileft, div.tallspiright {
    float: left;
    width: 40%;
    height: 100%;
    align-content: center;
    text-align: center;
}

#app {
    width: 100%;
    display: grid;
    grid-template-areas: 'grid1 grid2 grid3';
    align-items: center;
    text-align: center;
}

div.grid1 {
    grid-area: 'grid2';
}

div.grid2 {
    grid-area: 'grid1';
}

div.grid3 {
    grid-area: 'grid3';
}

#oppnedknapp {
    width: 50px;
    height: 40px;
    border-radius: 6px;
    padding: 0;
    background-color: rgb(34, 73, 47);
    border: 0.5px solid black;
    font-size: 22px;
    font-weight: bold;
    color: black;
    align-content: center;
}

div.footer {
    grid-area: footer;
    margin-top: 10px;
    border-radius: 30px 30px 0px 0px;
    background-color: rgba(22, 27, 49, 0.5);
}